flask==3.0.0
numpy
python-docx==1.1.0
Flask-SQLAlchemy==3.1.1
Werkzeug==3.0.1
requests==2.31.0
numpy==1.26.2
gunicorn==21.2.0
razorpay==1.4.1
psycopg2-binary==2.9.9
google-generativeai
google-genai
python-dotenv
